#ex4 p {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.6;
    text-align: justify;
}

#ex4 p:first-child::first-line {
    background-color: yellow;
}

#ex4 p:not(:first-child)::first-line {
    background-color: salmon;
}